body {
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #222;
}

a {
    text-decoration: none;
}

.AboutStore:first-of-type {
    margin-left: 15px;
}

.AboutStore {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menuTop {
    display: flex;
    align-items: center;
    padding: 6px;
}

.bannerSpacer {
    display: inline-block;
    flex-grow: 1;
}

.toprightActions {
    float: right;
    padding-left: 32px;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    flex:0%;
    justify-content: flex-end;
}